NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:3001
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001
MONGODB_URI=mongodb://127.0.0.1:27017/kuizu
JWT_ACCESS_SECRET=your_jwt_access_secret_min_16_chars
JWT_REFRESH_SECRET=your_jwt_refresh_secret_min_16_chars
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d
